<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PizzaMaker"
     connectionString="server=(local);database=PizzaMakerTest;Trusted_Connection=true;"
     providerName="System.Data.SqlClient" />
    <add name="PizzaMakerTest"
         connectionString="server=(local);database=PizzaMakerTest;Trusted_Connection=true;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>